<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1018731745324-5pm6kv7f7m66vfi6ej7qp27dfhu6itil.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1018731745324-5pm6kv7f7m66vfi6ej7qp27dfhu6itil</string>
	<key>API_KEY</key>
	<string>AIzaSyBliQ3xgBcJHCWaPpoNu4UwN8HPfxNn_8M</string>
	<key>GCM_SENDER_ID</key>
	<string>1018731745324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.funtastic.clock888</string>
	<key>PROJECT_ID</key>
	<string>click888-258dd</string>
	<key>STORAGE_BUCKET</key>
	<string>click888-258dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1018731745324:ios:013d30aa8de4d704</string>
	<key>DATABASE_URL</key>
	<string>https://click888-258dd.firebaseio.com</string>
</dict>
</plist>